// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$pigeon-light-gray: #D5D7DA;
$pigeon-gray: #B2B2B4;
$pigeon-dark-gray: #434A60;
$pigeon-light-blue: #BBCEDA;
$pigeon-blue: #1244DD;
$pigeon-black: #0A0A0F;
$pigeon-gray-blue: #6B8AAD;
$pigeon-white: #f0f1f2;



