.charity-profile-header{
  display: flex;
  justify-content: space-between;
}

.charity-profile-profile{
  display: flex;
}

.charity-profile-title{
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
}
