.charity-profile-wrapper{
  position:relative;
  bottom: 110px;
  left: 10px;
  display: flex;
  align-items: center;
}

.charity-profile-picture{
  width: 140px;
  height: 140px;
}

.charity-profile-name{
  padding-left: 10px;
  color: white;
}

.charity-banner img{
  border-radius: 8px;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
