<ul class="facebook" role="navigation">
    <li class="facebook__brand"><i class="fa fa-facebook-official"></i></li>
    <li class="facebook__search"><form><input placeholder="search Facebook"/><i class="fa fa-search"></i></form></li>
    <li><i class="fa fa-user-circle-o"></i></li>
    <li><i class="fa fa-bell-o"></i>Notifications</li>
    <li>Home</li>
    <li><i class="fa fa-user-circle-o"></i> Ohans</li>
    <li><i class="fa fa-caret-down"></i></li>
</ul>
