<!-- <ul class="facebook" role="navigation">
    <li class="facebook__brand"><i class="fas fa-dove"></i></li>
    <li class="facebook__search"><form><input placeholder="search for charity"/><i class="fa fa-search"></i></form></li>
    <li><i class="fa fa-user-circle-o"></i></li>
    <li><i class="fas fa-bell"></i>Notifications</li>
    <li><i class="fas fa-user-circle"></i>Steven</li>
    <li><i class="fa fa-caret-down"></i></li>
</ul>
 -->
<div class="pigeon-container-nav">
  <div class="container">
    <div class="topnav">
      <div class="creditnav">
        <i class="fas fa-hand-holding-heart navbar-item"></i>
        <div class="credits-display">1,500</div>
      </div>

      <div class="navbar-avatar">
        <img src="https://avatars0.githubusercontent.com/u/43139321?v=4" class="avatar">
      </div>

      <div class="notification-menu navbar-wagon-item">
        <div class="dropdown">
          <i class="far fa-bell navbar-item"></i>
        </div>
        <div class="dropdown">
          <i class="fas fa-bars navbar-item dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <% if user_signed_in? %>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            <% else %>
              <li><a href="#">Log in</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



