<!-- <ul class="facebook" role="navigation">
    <li class="facebook__brand"><i class="fas fa-dove"></i></li>
    <li class="facebook__search"><form><input placeholder="search for charity"/><i class="fa fa-search"></i></form></li>
    <li><i class="fa fa-user-circle-o"></i></li>
    <li><i class="fas fa-bell"></i>Notifications</li>
    <li><i class="fas fa-user-circle"></i>Steven</li>
    <li><i class="fa fa-caret-down"></i></li>
</ul>
 -->

<div class="topnav">
  <div class="creditnav">
    <i class="fas fa-hand-holding-heart"></i>
    <p>1,500</p>
  </div>

  <div class="navbar-avatar">
    <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
  </div>

  <div class="notification-menu">

  </div>
</div>
