<div class="transitions-enabled" id="pins">
    <div class="box panel panel-default">
      <p class="user">Submitted by</p>
    </div>
        <div class="box panel panel-default">
      <p class="user">Submitted by</p>
    </div>
        <div class="box panel panel-default">
      <p class="user">Submitted by</p>
    </div>
        <div class="box panel panel-default">
      <p class="user">Submitted by</p>
    </div>
        <div class="box panel panel-default">
      <p class="user">Submitted by</p>
    </div>
        <div class="box panel panel-default">
      <p class="user">Submitted by</p>
    </div>
        <div class="box panel panel-default">
      <p class="user">Submitted by</p>
    </div>
        <div class="box panel panel-default">
      <p class="user">Submitted by</p>
    </div>
        <div class="box panel panel-default">
      <p class="user">Submitted by</p>
    </div>
        <div class="box panel panel-default">
      <p class="user">Submitted by</p>
    </div>
        <div class="box panel panel-default">
      <p class="user">Submitted by</p>
    </div>

</div>
