<div class="new-charity-container">
  <h2>Application submitted</h2>
  <p>Your application has been succesfully submitted. We will now review your application and get in touch with you shortly. If you have any questions, please don't hesitate to reach out to .......</p>
  <div class="charity-requested-center-text">
    <%= link_to posts_path do %>
      <div class="pigeon-button-large pigeon-button-blue">Continue</div>
    <% end %>
  </div>
</div>
