<div class="container">
  <div>
    <div class="charity-banner">
      <img src="https://www.bevanbuckland.co.uk/sites/www.bevanbuckland.co.uk/files/images/charity_banner2.jpg">
    </div>
    <div class="charity-profile-wrapper">
      <div class="charity-profile-picture">
        <%= cl_image_tag @charity.photo, :class => "charity-avatar" , crop: :fill %>
      </div>
      <div class="charity-profile-name">
        <h2><%= @charity.name %></h2>
      </div>
    </div>
  </div>
</div>
