<div class="container">
  <div class="pigeon-container-profile">
    <div class="charity-profile-header">
      <div class="charity-profile-profile">
        <div class="charity-profile-avatar">
          <%= cl_image_tag @charity.photo, crop: :fill, class: "charity-avatar-large" %>
        </div>
        <div class="charity-profile-title">
          <p class="charity-profile-category invisible">invisible</p>
          <h3 class="charity-profile-name">charity name</h3>
          <p class="charity-profile-category">charity category</p>
        </div>
      </div>
      <div class="charity-profile-followers-display">
        <i class="fas fa-dove charity-profile-follower-item"></i>
        <div class="charity-profile-followers">1,500</div>
      </div>
    </div>
    <div class="charity-profile-action">
      <div class="pigeon-button-large pigeon-button-blue" id="charity-profile-button-offset">Donate</div>
      <div class="pigeon-button-large pigeon-button-gray" id="charity-profile-button-offset">Follow</div>
    </div>
    <div class="tabs">
      <a class="tab active" href="#">
        <p>Description</p>
      </a>
      <a class="tab" href="#">
        <p>Posts</p>
      </a>
      <a class="tab" href="#">
        <p>Contact details</p>
      </a>
    </div>
  </div>

<!--   <div class="pigeon-container-white">

  </div> -->
</div>
