.avatar {
  vertical-align: middle;
  border: 1px $pigeon-light-gray solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.charity-avatar-large {
  margin: 10px;
  vertical-align: middle;
  border: 2px $pigeon-light-gray solid;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

@media (max-width: 750px) {
  .charity-avatar-large{
    margin: 8px;
    border: 1px $pigeon-light-gray solid;
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 500px) {
  .charity-avatar-large{
    margin: 5px;
    border: 1px $pigeon-light-gray solid;
    width: 60px;
    height: 60px;
  }
}

.charity-avatar-small{
  margin: 5px;
  vertical-align: middle;
  border: 1px $pigeon-light-gray solid;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

// .avatar-large {
//   width: 50px;
//   border-radius: 50%;
// }
// .avatar-bordered {
//   width: 30px;
//   border-radius: 50%;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
//   border: white 1px solid;
// }
// .avatar-square {
//   width: 30px;
//   border-radius: 0px;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
//   border: white 1px solid;
// }
