.pigeon-button-blue {
  background: linear-gradient(90deg, #1244DD, #59a0f7);
}
.pigeon-button-blue:hover{
  background: #1244DD;
}

.pigeon-button-gray {
  background: linear-gradient(90deg, #6B8AAD, #9ab5d6);
}
.pigeon-button-gray:hover {
  background: #6B8AAD;
}

.pigeon-button-small{
  font-size: 8px;
  color: white;
  border-radius: 10px;
  // padding: 3px 5px;
  margin: 3px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
}


.pigeon-button-medium{
  font-size: 12px;
  color: white;
  border-radius: 20px;
  // padding: 6px 10px 6px 10px;
  margin: 6px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
}

.pigeon-button-large{
  color: white;
  border-radius: 20px;
  // padding: 5px 15px;
  // padding-bottom: 15px;
  // padding-left: 15px;
  margin: 8px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.pigeon-button-submit{
  color: white;
  border-radius: 20px;
}

.pigeon-button-submit:hover {
  color: white;
  border-radius: 20px;
}

@media (max-width: 750px){
  .pigeon-button-large{
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 500px){
  .pigeon-button-large{
    height: 25px;
    line-height: 25px;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.button-holder{
  display: flex;
  justify-content: space-around;
}

.pigeon-button-width{
  width: 80px;
}

@media (max-width: 750px){
  .pigeon-button-width{
    width: 70px;
  }
}

@media (max-width: 500px){
  .pigeon-button-width{
    width: 50px;
  }
}
