.pigeon-button-small{
  font-size: 8px;
  background-color: $pigeon-blue;
  color: white;
  height: 20px;
  border-radius: 10px;
  padding: 4px 5px;
  background: linear-gradient(90deg, #1244DD, #59a0f7);
}

.pigeon-button-small:hover{
  background: #1244DD;
}

.pigeon-button-medium{
  font-size: 14px;
  background-color: $pigeon-blue;
  color: white;
  height: 35px;
  border-radius: 20px;
  padding: 8px 10px;
  background: linear-gradient(90deg, #1244DD, #59a0f7);
}

.pigeon-button-medium:hover{
  background: #1244DD;
}

.pigeon-button-large{
  background-color: $pigeon-blue;
  color: white;
  border-radius: 50px;
  padding: 10px 15px;
  background: linear-gradient(90deg, #1244DD, #59a0f7);
}

.pigeon-button-large:hover{
  background: #1244DD;
}

.button-holder{
  display: flex;
  justify-content: space-around;
}
