.grid {
  // background: white;
  // max-width: 1200px;
  max-width: 100%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-sizer,

.grid-item {
  width: 33.33%;
  // height: 120px;
  float: left;
  padding: 10px;
}

@media (max-width: 1000px){
  .grid-item {
    width: 50%;
  }
}
@media (max-width: 600px){
  .grid-item {
    width: 100%;
  }
}
