// .facebook{
//   display: flex;
//   list-style-type: none;
// }

// .facebook__search {
//   margin-right: auto;
//   & input{
//     width:400px;
//   }
// }

// .fa-search{
//   margin-left: 20px;
// }

// .fa-bell {
//   margin: 0px 10px;
// }

// .fa-user-circle{
//   margin: 0px 10px;
// }

// .facebook {
//   height: 46px;
//   align-items: center;
//   padding-left:100px;
//   padding-right: 150px;

//   border: 1px solid rgba(238,238,238 ,1);
//   border-radius: 5px;
//   background: #DEE7ED;
//   color: #788896;
//   font-size: 0.9em;
//   box-shadow: 5px 10px 20px -20px rgba(59,89,153 ,1)
// }

// .facebook__brand  i{
//   font-size: 1.5em;
//   margin-right:30px;
//   // margin-left: 40px;
// }
// .facebook li:not(:last-child):not(:first-child):not(.facebook__search) {
//   margin-right: 10px;
// }

/* Add a black background color to the top navigation */

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  height: 40px;
  color: $pigeon-dark-gray;
}

@media (max-width: 750px) {
  .topnav{
    font-size: 16px;
  }
}

.nav-container{
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
}

.creditnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item{
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-item:hover{
  color: $pigeon-blue;
}

.credits-display{
  margin: 0 0 0px;
  // font-size: 20px;
}

.notification-menu {
  align-items: center;
}

.navbar-avatar .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
