.search-input {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.search-input-container{
  padding: 10px;
}

.filter-item {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

.filter-item-container{
  padding: 10px;
}
